.changePassword {
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}

.title h3 {
  margin: 0;
  margin-bottom: 12px;
  font-family: helveticaGeoMed;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
}

.title p {
  margin: 0;
  font-family: helveticaGeoMed;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #6c757d;
}

.input {
  display: flex;
  flex-direction: column;
}
.input label {
  font-family: helveticaGeo55;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 8px;
}
.input label svg {
  margin-bottom: 4px;
}
.input input {
  width: 100%;
  background: #ced4da;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-family: helveticaGeo55;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #6c757d;
  height: 38px;
  padding-left: 13px;
  margin-bottom: 16px;
  outline: none;
}

.resetBtn {
  width: 100%;
  background: #e31221;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  height: 38px;
  margin-bottom: 16px;
  margin-top: 9px;
}
.account {
  margin-top: 12px !important;
}

.account svg {
  margin-right: 11px;
}

.account a {
  font-family: helveticaGeo55;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #6c757d;
}

.input p {
  margin: 0;
  color: red;
  margin-bottom: 8px;
}
.mainError {
  margin: 0;
  color: red;
  margin-bottom: 16px;
}
