.movie {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movieImg {
  width: 100%;
}

.movieImg img {
  width: 100%;
  height: 400px;
}

.movieTitle {
  margin: 8px 0 8px 0;
}

.movieTitle .title {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  font-family: helveticaGeo75Bold;
}
.commentInfo {
  display: flex;
  color: #fff;
  align-items: center;
}
.commentInfo span {
  margin-right: 12px;
  font-family: helveticaGeoMed;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
