.list {
  display: flex;
  flex-direction: column;
}

.listMovie {
  display: flex;
  column-gap: 50px;
  flex-wrap: wrap;
  row-gap: 60px;
  padding-bottom: 60px;
}

.isLoading {
  align-items: center !important;
  justify-content: center !important;
}
